<h1>
  Active Servers
  <ul>
    <li *ngFor="let item of Servers; let itemIndex = index">
      <div>
        {{item.path}}      <a (click)="toggleServer(item, itemIndex)" *ngIf="item.active">(Disable)</a>  <a href="api/mockservers/{{item.name}}/Download">Download</a>
        <a (click)="toggleServer(item, itemIndex)" *ngIf="!item.active">(Enable)</a>
      </div>
      <div>
        <div>
          Passthrough on fail: {{item.passthroughOnFail}} <a (click)="promotePassthroughRoutes(item)"  *ngIf="item.active">Promote current passthrough routes</a>
        </div>
      </div>
    </li>
  </ul>
</h1>
